*{
    background-color: #FCECDD; /* Cambia el color aquí */
    padding: 20px;
    text-align: center;
    color: #FF5E5B; /* Cambia el color aquí */
    color: #484848; /* Cambia el color aquí */
  }